.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-container {
    width: 100%;
    height: 50px;
}

.header {
    width: 100%;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.side-bar-container {
    height: 100%;
    width: 200px;
}

.chat-window-container {
    height: 100%;
    width: 100%;
}

.chat-window {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .side-bar-container {
        width: 75px;
    }
}