.chat-message-container {
    width: 100%;
}

.spacer {
    flex-grow: 1;
}

.chat-message-content-wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.chat-message-content-wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.chat-message-content-wrapper-sender {
    display: flex;
    flex-direction: row;
}

.chat-message-bubble {
    border-radius: 10px;
    border: 1px solid #353941;
    background-color: #353941;
    width: 100%;
    margin-left: 5px;
    color: white;
    white-space: pre-wrap;
}

.chat-message-bubble-sender {
    border-radius: 10px;
    border: 1px solid #353941;
    background-color: #102B50;
    width: 90%;
    margin-top: 5px;
    margin-left: 15px;
    color: white;
    white-space: pre-wrap;
}

.chat-message-bubble-sender p {
    margin-left: 10px;
}

.chat-message-bubble p {
    margin-left: 10px;
}

.chat-message-datetime {
    width: 50px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.chat-message-datetime p {
    font-size: 10px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.chat-message-sender-name {
    font-size: 10px;
    color: white;
    height: 25px;
    margin-left: 10px;
}